<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />
</head>
<style>
    body{
        background-color: #2d3436;  /* temporary */
    }

    header{
        height: 7.5vh;
        background-color: #0c0f12; 
    }

    nav,nav>ul{
        display: flex;        
        color: #FFF;
    }
    
    nav>ul{
        width: 100%;
        justify-content: end;
    }

    .nav-logo{
        height: 7.5vh;
    }
</style>
<body>

    <header>
        <nav>
            <a>
                <img class="nav-logo" src="~/images/official_mark.png" /> 
            </a>
            <ul>
                <li>
                    <a> APRESENTAÇÃO </a>
                </li>
                <li>
                    <a> PROJETOS </a>
                </li>
                <li>
                    <a> CONTATO </a>
                </li>
                
                <li>
                    <a> BR:FLAG </a>
                </li>
                <li>
                    <a> USA:FLAG </a>
                </li>
            </ul>
        </nav>
    </header>

    

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
