<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@30,700,0,0" />
</head>
<style>

    body {
        background-color: #07090a;
        overflow-x: hidden;
    }

    /* ======================================= NAVBAR CSS ======================================= */

    header {
        height: 8vh;
    }

    nav, nav > ul {
        display: flex;
        color: #FFF;
    }

    nav {
        height: 8vh;        
    }

        nav > ul {
            width: 100%;
            justify-content: end;
            height: 8vh;
            transition: 0.25s;
        }

            nav > ul > li {
                display: flex;
                justify-content: center;
                align-items: center;
            }

    .nav-logo {
        height: 8vh;
        width: 30vw;
    }


    .li-options {
        color: #fff;
    }


    .li-flags {
        color: white;
        max-height: 100%;
        max-width: 100%;
    }

    .flags {
        transition: .25s;
        width: 3vw;
        height: auto;
    }

    .li-flags {
        margin-left: 1vw;
    }

    .flags:first-child {
        margin-right: 1vw;
    }

    .flags:last-child {
        margin-right: 1vw;
        margin-left: 1vw;
    }

    .flags:hover {
        filter: saturate(150%);
        filter: drop-shadow(2px 2px 10px #fff);
    }


    ul > .li-options {
        transition: 0.25s !important;
        width: 10vw;
        font-family: codeBold;
        letter-spacing: 2px;
        font-size: 1vw;
    }


    .li-options:first-child {
        margin-right: 2vw;
    }

    li > a {
        transition: 0.25s;
    }

    ul > .li-options > a:hover {
        cursor: pointer;
        color: #ff3838 !important;
    }

    .menu {
        display: none;
        transition: 0.5s;
        height: 8vh;
    }

        .menu:hover {
            cursor: pointer;
            color: #000;
            background-color: #ffffff;
        }

    @@font-face {
        font-family: codeBold;
        src: url('/font/CODEBold.otf');
    }

    @@font-face {
        font-family: codeLight;
        src: url('/font/CODELight.otf');
    }

    @@font-face {
        font-family: chill;
        src: url('/font/Chill.ttf');
    }


    /* TELA MD */

    @@media(max-width: 1279px) {

        ul > .li-options {
            font-size: 1.3vw;
        }

        .nav-logo {
            width: 60vw;
        }
    }


    /* TELA SM */

    @@media(max-width: 767px) {


        nav {
            background-color: #07090a;
            justify-content: space-between;
            height: 8vh;
        }

            nav > ul {
                display: flex;
                position: absolute;
                top: 8vh;
                height: auto;
                align-items: center;
                justify-content: start;
                flex-direction: column;
                background-color: rgba(0, 0, 0, .4);
            }

        ul#nav-options {
            animation-name: dropdown;
            animation-duration: .75s;
        }

        .li-options > a {
            font-size: 2.5vw;
            font-family: codeBold;
        }

        .li-options {
            padding-top: 3vh;
            padding-bottom: 3vh;
            padding-right: 100%;
            padding-left: 100%;
        }

            .li-options:first-child {
                margin-right: 0px;
            }

        .li-flags {
            padding-top: 3vh;
            padding-bottom: 3vh;
            margin: 0px;
        }

        .flags {
            width: 7vw;
        }

            .flags:first-child {
                margin-right: 3vw;
            }

            .flags:last-child {
                margin-left: 3vw;
            }

        .li-options:hover {
            background-color: #ffffff;
        }

            .li-options:hover > a {
                color: #000000;
            }


        .menu {
            width: 14vw;
            display: flex;
            height: 8vh;
            justify-content: center;
            align-items: center;
        }

        .nav-logo {
            width: 70vw;
            height: 8vh;
        }
    }


    /* TELA XS */

    @@media(max-width: 479px) {

        nav {
            background-color: #07090a;
            height: 8vh;
        }

            nav > ul {
                display: flex;
                position: absolute;
                top: 8vh;
                height: auto;
                align-items: center;
                justify-content: start;
                flex-direction: column;
                background-color: rgba(0, 0, 0, .4);
            }

        ul#nav-options {
            animation-name: dropdown;
            animation-duration: .75s;
        }

        .li-options > a {
            font-size: 4vw;
            font-family: codeBold;
        }

        .li-options {
            padding-top: 3vh;
            padding-bottom: 3vh;
            padding-right: 100%;
            padding-left: 100%;
        }

        .li-flags {
            padding-top: 3vh;
            padding-bottom: 3vh;
            margin: 0px;
        }

        .flags {
            width: 10vw;
        }

            .flags:first-child {
                margin-right: 3vw;
            }

            .flags:last-child {
                margin-left: 3vw;
            }

        .li-options:hover {
            background-color: #ffffff;
        }

            .li-options:hover > a {
                color: #000000;
            }

        .menu {
            width: 14vw;
            display: flex;
            height: 8vh;
            justify-content: center;
            align-items: center;
        }

        .nav-logo {
            width: 86vw;
        }
    }


    @@keyframes dropdown {
        0% {
            margin-top: -100vw;
            z-index: -1;
        }

        99% {
            margin-top: 0;
            z-index: -1;
        }

        100% {
            z-index: 0;
        }
    }

    /* ======================================= NAVBAR CSS ======================================= */

</style>

<script>

    /* ======================================= MENU JS ======================================= */

    window.addEventListener("load",  () =>{

        var menu = document.getElementById("menu");
        var navOptions = document.getElementById("nav-options");
        var handle = false;

        menu.addEventListener("click", () =>{
            if(handle){
                navOptions.style.cssText  += "display: none;";
                menu.style.cssText += "background-color: transparent;color: #ffffff";
                handle = false;
            }else{
                navOptions.style.cssText  += "display: flex;";
                menu.style.cssText += "background-color: #f1f2f6;color: #000";

                handle = true;
            }
        });


        //para MD >> toda vez que o Menu tiver o display modificado, forçar o display flex da NAV
        window.addEventListener("resize", () =>{
            if(window.innerWidth>767){
               navOptions.style.cssText  += "display: flex;";
               menu.style.cssText += "background-color: transparent;color: #ffffff";
               handle = false;
            }
            if(window.innerWidth<767){
               navOptions.style.cssText  += "display: none;";
               menu.style.cssText += "background-color: transparent;color: #ffffff";
               handle = false;
            }
        })

    })

    /* ======================================= MENU JS ======================================= */
</script>
<body>

    <header>
        <nav>
            <img class="nav-logo" src="~/images/official_mark.png" />

            <ul id="nav-options">
                <li class="li-options">
                    <a> APRESENTAÇÃO </a>
                </li>
                <li class="li-options">
                    <a> PROJETOS </a>
                </li>
                <li class="li-options">
                    <a> CONTATO </a>
                </li>

                <li class="li-flags">
                    <img onclick="alert('Brazil')" class="img-fluid flags" src="~/images/brazil.png" />
                    <img onclick="alert('U.S.A')" class="img-fluid flags" src="~/images/usa.png" />
                </li>
            </ul>
            <div id="menu" class="menu">
                <span class="material-symbols-outlined">menu</span>
            </div>
        </nav>
    </header>



    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
