@{
    ViewData["Title"] = "Página Inicial";
}


<div id="nav-buttons">
    <navButton>1</navButton>
    <navButton>2</navButton>
    <navButton>3</navButton>
    <navButton>4</navButton>
</div>

<div id="mainscreen">
    <img id="widescreen" src="~/images/onwork/large/large.png" class="img-fluid foto" />
    <img id="mediumscreen" src="~/images/onwork/medium/medium.png" class="img-fluid foto" />
    <img id="smallBscreen" src="~/images/onwork/medium/medium.png" class="img-fluid foto" />
    <img id="smallAscreen" src="~/images/onwork/smallA/smallA.png" class="img-fluid foto" />

    <div class="introduce-text">
        <h1>
            <texto>
                <w>W</w>elcome
            </texto>
        </h1>
        <h2 class="name">
           &nbsp;
        </h2>
        <div class="act-on">
            <h2 id="t1" class="podioText"> Junior Software Engineer </h2>
            <h2 id="t2" class="sndText"> IT Student at FATEC </h2>
            <h2 id="t3" class="trdText">Personal Graphic Designer</h2>
        </div>
    </div>

    <div id="seeMore">
        <button class="smFirst">
            See more content
        </button>
    </div>
</div>



