@{
    ViewData["Title"] = "Página Inicial";
}

<div id="mainscreen">
    <img id="widescreen" src="~/images/onwork/large/large.png" class="img-fluid foto" />
    <img id="mediumscreen" src="~/images/onwork/medium/medium.png" class="img-fluid foto" />
    <img id="smallBscreen" src="~/images/onwork/medium/medium.png" class="img-fluid foto" />
    <img id="smallAscreen" src="~/images/onwork/smallA/smallA.png" class="img-fluid foto" />

    <div class="introduce-text">
        <h1>
            <texto>
                <w>W</w>elcome
            </texto>
        </h1>
        <h2 class="name">
           &nbsp;
        </h2>
        <div class="act-on">
            <h2 id="t1"> Junior Software Engineer </h2>
            <h2 id="t2"> IT Student at FATEC </h2>
            <h2 id="t3">Personal Graphic Designer</h2>
        </div>
    </div>

</div>

