@{
    ViewData["Title"] = "Página Inicial";
}

<style>
    #mainscreen{
        top: 0;
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -2;
    }

    .foto{       
        width: 100%;
        height: auto;
    }
</style>

<div id="mainscreen">
    <img src="~/images/pc.jpg" class="img-fluid foto"/>
</div>