@{
    ViewData["Title"] = "Página Inicial";
}


<div id="nav-buttons">
    <navButton>1</navButton>
    <navButton>2</navButton>
    <navButton>3</navButton>
    <navButton>4</navButton>
</div>

<div id="mainscreen">
    <img src="~/images/onwork/large/large.png" class="img-fluid foto widescreen" />
    <img src="~/images/onwork/medium/medium.png" class="img-fluid foto mediumscreen" />
    <img src="~/images/onwork/medium/medium.png" class="img-fluid foto smallBscreen" />
    <img src="~/images/onwork/smallA/smallA.png" class="img-fluid foto smallAscreen" />

    <div class="introduce-text">
        <h1>
            <texto>
                <w>W</w>elcome
            </texto>
        </h1>
        <h2 class="name">
            &nbsp;
        </h2>
        <div class="act-on">
            <h2 id="t1" class="podioText"> Junior Software Engineer </h2>
            <h2 id="t2" class="sndText"> IT Student at FATEC </h2>
            <h2 id="t3" class="trdText">Personal Graphic Designer</h2>
        </div>
    </div>
</div>

<div class="seeMore">
    <button class="btnSeeMore">
        <img class="imgSeeMore" src="~/images/btnSeeMore.png" />
    </button>
</div>

<div id="presentation">
    <img src="~/images/presentation_images/large.png" class="img-fluid foto widescreen" />
    <img src="~/images/presentation_images/medium.png" class="img-fluid foto mediumscreen" />
    <img src="~/images/presentation_images/medium.png" class="img-fluid foto smallBscreen" />
    <img src="~/images/presentation_images/small.png" class="img-fluid foto smallAscreen" />


    <div>
        <input type="text" class="form-control" style="width: 500px;" value="kainho rosas"/>
    </div>

</div>


