<div class="bg-gray-800 w-full h-20 md:h-24 flex items-center justify-center">
  <h1 class="text-white text-center text-5xl md:text-6xl">Nav Bar</h1>
</div>


<div class="w-full h-[80vh] bg-gray-500">
  <!-- Content #1 -->
  <p class="font-extrabold text-9xl text-center text-white">art</p>
</div>

<div class="w-full h-[10vh] bg-gray-50">
  <!-- #1 Division #2 -->
</div>


<div class="w-full h-[80vh] bg-gray-500">
  <!-- Content #2 -->
  <p class="font-extrabold text-xl text-center text-white">presentation</p>
</div>


<div class="w-full h-[10vh] bg-gray-50">
  <!-- #2 Division #3 -->
</div>


<div class="w-full h-[80vh] bg-gray-500">
  <!-- Content #3 -->
  <p class="font-extrabold text-xl text-center text-white">projects</p>
</div>


<div class="w-full h-[10vh] bg-gray-50">
  <!-- #3 Division #4 -->
</div>


<div class="w-full h-[90vh] bg-gray-500">
  <!-- Content #3 -->
  <p class="font-extrabold text-xl text-center text-white">contact</p>
</div>