/* ======================================= NAVBAR CSS ======================================= */

* {
    user-select: none;
}

header {
    height: 8vh;
    min-height: 63.36px;
    z-index: 1;
}

nav, nav > ul {
    display: flex;
    color: #FFF;
}

nav {
    min-height: 63.36px;
    height: 8vh;
}

    nav > ul {
        min-height: 63.36px;
        width: 100%;
        justify-content: end;
        height: 8vh;
        transition: 0.25s;
    }

        nav > ul > li {
            display: flex;
            justify-content: center;
            align-items: center;
        }

.nav-logo {
    height: 8vh;
    width: 30vw;
    min-height: 63.36px;
}


.li-options {
    color: #fff;
}


.li-flags {
    color: white;
    max-height: 100%;
    max-width: 100%;
}

.flags {
    transition: .25s;
    width: 3vw;
    height: auto;
}

.li-flags {
    margin-left: 1vw;
}

.flags:first-child {
    margin-right: 1vw;
}

.flags:last-child {
    margin-right: 2vw;
    margin-left: 1vw;
}

.flags:hover {
    filter: saturate(150%);
    filter: drop-shadow(2px 2px 10px #fff);
}


ul > .li-options {
    transition: 0.25s !important;
    width: 10vw;
    font-family: codeBold;
    letter-spacing: 2px;
    font-size: 1vw;
}


.li-options:first-child {
    margin-right: 2vw;
}

li > a {
    transition: 0.25s;
}

ul > .li-options > a:hover {
    cursor: pointer;
    color: #ff3838 !important;
}

.menu {
    display: none;
    transition: 0.5s;
    height: 8vh;
    min-height: 63.36px;
}

    .menu:hover {
        cursor: pointer;
        color: #000;
        background-color: #ffffff;
    }

@font-face {
    font-family: codeBold;
    src: url('../font/CODEBold.otf');
}

@font-face {
    font-family: codeLight;
    src: url('../font/CODELight.otf');
}

@font-face {
    font-family: chill;
    src: url('../font/Chill.ttf');
}


/* TELA MD */

@media(max-width: 1279px) {

    ul > .li-options {
        font-size: 1.3vw;
    }

    .nav-logo {
        width: 60vw;
    }
}


/* TELA SM */

@media(max-width: 767px) {


    nav {
        background-color: #07090a;
        justify-content: space-between;
        height: 8vh;
    }

        nav > ul {
            display: flex;
            position: absolute;
            top: 8vh;
            height: auto;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            background-color: rgba(0, 0, 0, .4);
        }

    ul#nav-options {
        animation-name: dropdown;
        animation-duration: .75s;
    }

    .li-options > a {
        font-size: 2.5vw;
        font-family: codeBold;
    }

    .li-options {
        padding-top: 3vh;
        padding-bottom: 3vh;
        padding-right: 100%;
        padding-left: 100%;
    }

        .li-options:first-child {
            margin-right: 0px;
        }

    .li-flags {
        padding-top: 3vh;
        padding-bottom: 3vh;
        margin: 0px;
    }

    .flags {
        width: 7vw;
    }

        .flags:first-child {
            margin-right: 3vw;
        }

        .flags:last-child {
            margin-left: 3vw;
        }

    .li-options:hover {
        background-color: #ffffff;
    }

        .li-options:hover > a {
            color: #000000;
        }


    .menu {
        width: 14vw;
        display: flex;
        height: 8vh;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 70vw;
        height: 8vh;
    }
}


/* TELA XS */

@media(max-width: 479px) {

    nav {
        background-color: #07090a;
        height: 8vh;
    }

        nav > ul {
            display: flex;
            position: absolute;
            top: 8vh;
            height: auto;
            align-items: center;
            justify-content: start;
            flex-direction: column;
            background-color: rgba(0, 0, 0, .4);
        }

    ul#nav-options {
        animation-name: dropdown;
        animation-duration: .75s;
    }

    .li-options > a {
        font-size: 4vw;
        font-family: codeBold;
    }

    .li-options {
        padding-top: 3vh;
        padding-bottom: 3vh;
        padding-right: 100%;
        padding-left: 100%;
    }

    .li-flags {
        padding-top: 3vh;
        padding-bottom: 3vh;
        margin: 0px;
    }

    .flags {
        width: 10vw;
    }

        .flags:first-child {
            margin-right: 3vw;
        }

        .flags:last-child {
            margin-left: 3vw;
        }

    .li-options:hover {
        background-color: #ffffff;
    }

        .li-options:hover > a {
            color: #000000;
        }

    .menu {
        width: 14vw;
        display: flex;
        height: 8vh;
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        width: 86vw;
    }
}


@keyframes dropdown {
    0% {
        margin-top: -100vw;
        z-index: -1;
    }

    99% {
        margin-top: 0;
        z-index: -1;
    }

    100% {
        z-index: 0;
    }
}

/* ======================================= NAVBAR CSS ======================================= */

@media (min-width: 1201px) and (max-width: 1600px) {
    .li-options > a {
        font-size: 1.3vw;
    }
}

@media (min-width: 480px) and (max-width: 623.5px) {
    .nav-logo {
        width: 80vw;
    }
}

@media (min-width: 623.5px) and (max-width: 767px ) {
    .nav-logo {
        width: 60vw;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {

    .li-options > a {
        font-size: 1.5vw;
    }

    .nav-logo {
        width: 53vw;
    }
}

/* =======================================  ======================================= */

/* ================================= MAINSCREEN CSS ================================= */

#mainscreen {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.foto {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

/* ======= TELA SMALL A ======= */
@media (max-width: 499px) {

    #mainscreen {
        height: 92vh;
        margin-top: 8vh;
    }


    .widescreen, .mediumscreen, .smallBscreen {
        display: none;
    }
}
/* ================ /


        /* ======= TELA SMALL B ======= */
@media (min-width: 500px) and (max-width: 768px) {

    .foto {
        height: 100%;
    }

    .smallAscreen, .mediumscreen, .widescreen {
        display: none;
    }
}
/* ================ /


        /* ======= TELA MEDIUM ======= */
@media (min-width: 769px) and (max-width: 1268px) {
    .smallAscreen, .smallBscreen, .widescreen {
        display: none;
    }

    .foto {
        height: 100%;
    }
}
/* ================ /

        /* ======= TELA WIDE =======*/
@media (min-width: 1269px) {
    .smallAscreen, .smallBscreen, .mediumscreen {
        display: none;
    }

    .foto {
        height: 100%;
    }
}
/* ================ /

/* =======================================  ======================================= */

/* ================================ TEXT POSITIONS ================================ */

/* SMALL A*/
@media (max-width: 768px) {
    .introduce-text {
        height: 92vh;
        font-family: codeBold;
        position: absolute;
        top: 0;
        left: 0;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    h1 {
        font-size: 2.5em;
    }

    .name {
        font-size: 3.5em;
    }

    .act-on {
        height: 12vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .act-on > h2 {
            position: absolute;
        }

    .introduce-text > h1 {
        color: #ecf0f1;
    }

    w {
        color: #7e080c;
    }
}

/* =======================================  ======================================= */

/* ============== BUG FIX: DROPDOWN MENU NOT FITTING ============== */

@media (max-height: 781px) {
    #nav-options {
        top: 63.36px;
    }
}

/* =======================================  ======================================= */



/* ============== Typing Effect ============== */

texto {
    display: inline-block;
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(7), cursor 2.5s;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor {
    12.5% {
        text-shadow: 0 0 10px #000;
        border-color: transparent;
    }

    25% {
        border-right: 3px solid;
        border-color: #fff;
    }

    50% {
        border-color: transparent;
    }

    60% {
        text-shadow: 0 0 10px #000;
        border-right: 3px solid;
        border-color: #fff;
    }

    80% {
        border-color: transparent;
        text-shadow: 0 0 10px #fff;
    }

    90% {
        border-right: 3px solid;
        border-color: #fff;
    }

    100% {
        border-color: transparent;
    }
}

/* =======================================  ======================================= */

/* Formatar tamanho do texto "Welcome"  MENU DROPDOWN SCREEN*/

@media (max-width: 768px) and (max-height: 717px) {
    h1 {
        font-size: 5.5vh;
    }
}

@media (max-width: 768px) and (min-height: 718px) {
    h1 {
        font-size: 6vh;
    }
}

/* width <= 768  and max-height: 700px e trabalha com o font-size by VHeight */

/* =======================================  ======================================= */

/* Implementando Welcome & Act-ON para medium/large devices*/

@media (min-width: 769px) {
    .introduce-text {
        height: 92vh;
        font-family: codeBold;
        position: absolute;
        top: 0;
        left: 0;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        margin-top: 20vh;
        font-size: 3.8em;
        margin-left: 2vw;
    }

    .name {
        display: none;
    }

    .act-on {
        height: 12vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .act-on > h2 {
            position: absolute;
        }

    .introduce-text > h1 {
        color: #ecf0f1;
    }

    w {
        color: #7e080c;
    }
}

@media (min-width: 769px) and (max-height: 716px) and (max-width: 1268px) {
    h1 {
        font-size: 3em;
        margin-top: 30vh;
    }
}


/* =======================================  ======================================= */


/*min-width: 769px & max-width: 1268px*/

/* Adicionar efeito para os textos Act-on ~ VIA JS... */

@keyframes podioEffect {

    0% {
        color: rgba(255,255,255, 0.2);
        text-shadow: 2px 2px 1.5px #000;
    }
}

#t1, #t2, #t3 {
    transition: 0.75s all;
}

.podioText {
    margin-top: -6vh;
    color: #fff;
    text-shadow: 2px 2px 1.5px #000;
    animation: podioEffect ease-in-out 1s;
    font-size: 3vh !important;
}

.sndText {
    color: rgba(255,255,255, .5);
    font-size: 1.5vh !important;
}

.trdText {
    margin-top: 6vh;
    font-size: 1vh !important;
    color: rgba(255,255,255, .1);
}



/* =======================================  BUG FIX PODIO EFFECT HEIGHT======================================= */
@media (max-height: 717px) {
    .podioText {
        font-size: 1.5em !important;
    }

    .sndText {
        font-size: 1em !important;
    }

    .trdText {
        font-size: 0.5em !important;
    }

    .act-on {
        height: 24vh;
    }
}

/* =======================================  ======================================= */


/* Adicionar os 4 botões laterais de navegação: 30m */

#nav-buttons {
    display: none;
    z-index: 9999;
}

navButton {
    border-radius: 50%;
    min-height: 1px;
    min-width: 1px;
    font-size: 10px;
    text-align: center;
    height: 20px;
    width: 20px;
    border: 1px solid rgba(0,0,0, .8);
    background-color: rgba(0,0,0, .3);
    color: #fff;
}

    navButton:first-child {
        background-color: rgba(255,255,255,.8);
        color: #000;
    }

    navButton:hover {
        cursor: pointer;
    }


/* =======================================  ======================================= */
/* =======================================  ======================================= */

/* Adaptações do Botão: Ver Mais */


/*BugFix for small heights*/
@media (max-height: 717px) {
    .imgSeeMore {
        height: 7.5vh;
        width: 7.5vh;
    }
}

/* Adicionando o botão de Ver Mais*/
.seeMore {
    display: none;
}


#nav-buttons {
    position: fixed;
    left: 93.5%;
    top: 45%;
    min-height: 70px;
    height: 12.5vh;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.seeMore {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSeeMore {
    position: relative;
    height: 100%;
    width: 50px;
}

.imgSeeMore {
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .35s;
    filter: contrast(0.9);
}

.btnSeeMore:hover > .imgSeeMore {
    box-shadow: #fff 30px 30px inset;
    border: 1px solid #7e080c;
}


/* Configurações dos Botões de Navegação para Medium/Large Devices*/
@media (min-width: 769px) {
    #nav-buttons {
        left: 96.5%;
    }
}

/* BugFix: Tamanho do Botão Ver Mais p/ medium/large devices*/
@media (min-width: 769px) and (max-height: 716px) {
    .imgSeeMore {
        height: 50px;
        width: 50px;
    }
}


/* =======================================  ======================================= */
/*
    Conforme rolando a tela pra baixo, o botão vai ficando invisível.

*/

/* =======================================  ======================================= */


/* ======================================= APRESENTAÇÃO ======================================= */

#presentation {
    background-color: aqua;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100vh;
}

.presentation-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border-radius: 5px;
    position: inherit !important;
    align-items: center;
    justify-content: space-evenly;
}

.presentation-title {
    font-family: codeBold;
    letter-spacing: 15px;
    font-size: 4em;
    color: #fff;
}

.video-container {
    margin-top: -10vh;
    height: auto;
    width: 65vw;
    background-color: #000;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 5px;
}

.switch-language {
    transition: 0.5s;
    border: 3px solid rgba(0,0,0, .85);
    position: absolute;
    background-color: #fff;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    left: 8.75vw;
    top: 50vh;
}

    .switch-language:hover {
        cursor: pointer;
        border: 2px solid rgba(255,255,255, 0.85);
    }

.label-language {
    text-align: center;
    width: 5vw;
    font-size: 12.5px;
    font-family: codeBold;
    position: absolute;
    color: #fff;
    left: 8.75vw;
    top: 45.5vh;
}

video{
    height: 100%;
    width: 100%;
}

.bra-video{
    /*display: none;*/
}

.eng-video{
    display: none;
}


/* =======================================  ======================================= */
